<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <center><h1>Actualizar Contacto</h1>
        <form action="/update/{{contacto['email']}}", method="POST">

            <p><input type="text" name="nombre" placeholder="Nombre", value="{{contacto['nombre']}}"></p>
            <p><input type="text" name="telefono"  placeholder="Telefono"  value="{{contacto['telefono']}}"></p>
            <p><input type="text" name="email" placeholder="Email"  value="{{contacto['email']}}"></p>
            <p><button type="submit">
                Enviar
            </button></p>
        </form>
        <a href="/">Cancelar</a>
        </center>
    </body>
</html>