<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
    <center>

    {% with messages = get_flashed_messages() %}

    {% if messages %}

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    {% endif %}

    {% endwith %}

    <h1><b>Insertar Contactos</b></h1>
    <form action="/add_contact", method="POST">

        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="telefono"  placeholder="Telefono">
        <input type="text" name="email" placeholder="Email">
        <button type="submit">
            Enviar
        </button>
    </form>
    <hr size="10" color="black">
    <h1><b>Buscar Contacto</b></h1>
    <form method="post" action="{{ url_for('buscarContacto') }}">
        <input type="text" name="email" id="email "placeholder="email">
        <input type="submit" value="Buscar" class="boton">
    </form>
    <hr size="10" color="black">
    {% if contacto_buscados %}
        <table>
            <thead>
                <tr>
                    <td>Email</td>
                    <td>Nombre</td>
                    <td>Telefono</td>
                    <td>Operaciones</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{contacto_buscados['email']}}</td>
                    <td>{{contacto_buscados['nombre']}}</td>
                    <td>{{contacto_buscados['telefono']}}</td>
                    <td>
                        <a href="/see/{{contacto_buscados['email']}}">Ver</a>
                        <a href="/edit/{{contacto_buscados['email']}}">Editar</a>
                        <a href="/delete/{{contacto_buscados['email']}}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/">Limpiar_busqueda</a>
        <hr size="10" color="black">
        {% endif %}

        <h1><b>Contactos</b></h1>
        <table>
            <thead>
                <tr>
                    <td>Email</td>
                    <td>Nombre</td>
                    <td>Telefono</td>
                    <td>Operaciones</td>
                </tr>
            </thead>
            <tbody>
                {% for contacto in contactos %}
                <tr>
                    <td>{{contacto['email']}}</td>
                    <td>{{contacto['nombre']}}</td>
                    <td>{{contacto['telefono']}}</td>
                    <td>
                        <a href="/see/{{contacto['email']}}">Ver</a>
                        <a href="/edit/{{contacto['email']}}">Editar</a>
                        <a href="/delete/{{contacto['email']}}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
    </body>
</html>
